In [94]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

# Bagian Baru

In [95]:
km_dataset = pd.read_excel('Raisin_Dataset.xlsx')

In [96]:
km_dataset.head()

,Area,MajorAxisLength,MinorAxisLength,Eccentricity,ConvexArea,Extent,Perimeter,Class
0,87524,442.246011,253.291155,0.819738,90546,0.758651,1184.040,Kecimen
1,75166,406.690687,243.032436,0.801805,78789,0.684130,1121.786,Kecimen
2,90856,442.267048,266.328318,0.798354,93717,0.637613,1208.575,Kecimen
3,45928,286.540559,208.760042,0.684989,47336,0.699599,844.162,Kecimen
4,79408,352.190770,290.827533,0.564011,81463,0.792772,1073.251,Kecimen

In [97]:
km_dataset['Class'] = km_dataset['Class'].map({'Kecimen':1, 'Besni':0})

In [98]:
km_dataset.shape

(900, 8)

In [100]:
# memisahkan data dan label

x = km_dataset.drop (columns='Class', axis=1)
y = km_dataset['Class']

In [101]:
print(x)

      Area  MajorAxisLength  MinorAxisLength  Eccentricity  ConvexArea  \
0    87524       442.246011       253.291155      0.819738       90546
1    75166       406.690687       243.032436      0.801805       78789
2    90856       442.267048       266.328318      0.798354       93717
3    45928       286.540559       208.760042      0.684989       47336
4    79408       352.190770       290.827533      0.564011       81463
..     ...              ...              ...           ...         ...
895  83248       430.077308       247.838695      0.817263       85839
896  87350       440.735698       259.293149      0.808629       90899
897  99657       431.706981       298.837323      0.721684      106264
898  93523       476.344094       254.176054      0.845739       97653
899  85609       512.081774       215.271976      0.907345       89197

       Extent  Perimeter
0    0.758651   1184.040
1    0.684130   1121.786
2    0.637613   1208.575
3    0.699599    844.162
4    0.792772   1073.251
..        ...        ...
895  0.668793   1129.072
896  0.636476   1214.252
897  0.741099   1292.828
898  0.658798   1258.548
899  0.632020   1272.862

[900 rows x 7 columns]

In [102]:
print(y)

0      1
1      1
2      1
3      1
4      1
      ..
895    0
896    0
897    0
898    0
899    0
Name: Class, Length: 900, dtype: int64

In [103]:
# standarisasi data

scaler = StandardScaler()

In [104]:
scaler.fit(x)

StandardScaler()

In [105]:
standar_data = scaler.transform(x)

In [106]:
print(standar_data)

[[-0.00718637  0.09757695 -0.02395819 ... -0.01570903  1.10674264
   0.06627397]
 [-0.32421719 -0.20901207 -0.22929222 ... -0.3042482  -0.28777679
  -0.16125245]
 [ 0.07829241  0.09775835  0.23698797 ...  0.06211335 -1.15824974
   0.15594468]
 ...
 [ 0.30407232  0.00670023  0.88767401 ...  0.37004063  0.77828911
   0.46387322]
 [ 0.14671134  0.39160036 -0.00624644 ...  0.15871029 -0.76180437
   0.3385864 ]
 [-0.05631357  0.69976181 -0.78493347 ... -0.04881606 -1.26290931
   0.39090133]]

In [107]:
x = standar_data
y = km_dataset['Class']

In [108]:
print(x)
print(y)

[[-0.00718637  0.09757695 -0.02395819 ... -0.01570903  1.10674264
   0.06627397]
 [-0.32421719 -0.20901207 -0.22929222 ... -0.3042482  -0.28777679
  -0.16125245]
 [ 0.07829241  0.09775835  0.23698797 ...  0.06211335 -1.15824974
   0.15594468]
 ...
 [ 0.30407232  0.00670023  0.88767401 ...  0.37004063  0.77828911
   0.46387322]
 [ 0.14671134  0.39160036 -0.00624644 ...  0.15871029 -0.76180437
   0.3385864 ]
 [-0.05631357  0.69976181 -0.78493347 ... -0.04881606 -1.26290931
   0.39090133]]
0      1
1      1
2      1
3      1
4      1
      ..
895    0
896    0
897    0
898    0
899    0
Name: Class, Length: 900, dtype: int64

In [109]:
# memisahkan data training dan data testing

X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size= 0.2, stratify=y, random_state=2)

In [110]:
print(x.shape, X_train.shape, X_test.shape)

(900, 7) (720, 7) (180, 7)

In [111]:
# membuat data latih menggunakan algoritma SVM

classifier = svm.SVC(kernel='linear')

In [112]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [113]:
#membuat evaluasi untuk mengukur tingkat akurasi

X_train_predic = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_predic, Y_train)

In [114]:
print('Akurasi data training adalah = ', training_data_accuracy)

Akurasi data training adalah =  0.8694444444444445

In [115]:
X_test_predic = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_predic, Y_test)

In [116]:
print('Akurasi data testing adalah = ', test_data_accuracy)

Akurasi data testing adalah =  0.8777777777777778

In [120]:
# membuat model prediksi

input_data = (117077, 496.1307567, 314.547414, 0.773332196, 123305, 0.70883156, 1419.16)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

std_data = scaler.transform(input_data_reshape)
print(std_data)

predic = classifier.predict(std_data)
print(predic)

if (predic[0] == 0):
    print('Jenis Besni')
else :
    print('Jenis Kecimen')

[[ 0.75096315  0.56221822  1.20212033 -0.09095066  0.78825922  0.17447413
   0.92559243]]
[0]
Jenis Besni

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [121]:
# simpan model

import pickle

In [122]:
filename = 'kismis.sav'
pickle.dump(classifier, open(filename,'wb'))

In [ ]:
from joblib import dump, load
dump(classifier, 'CsTrav.joblib')

['CsTrav.joblib']